body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #333;
    line-height: 1.6;
}

.details-container {
    width: 80%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.detail-list {
    list-style-type: none;
    padding: 0;
}

.detail-item {
    margin-bottom: 10px;
}

.links-section {
    margin-top: 20px;
}

/* Styles for disabled links */
.disabled-link {
    background-color: #ccc;
    cursor: not-allowed;
}


.back-link, .pedigree-link, .progeny-link {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    width: 150px;
    transition: background-color 0.3s ease;
    margin: 20px auto 0;
}

.pedigree-link, .progeny-link {
    background-color: #007bff;
}

.back-link:hover, .pedigree-link:hover, .progeny-link:hover {
    background-color: #218838;
}

.pedigree-link:hover, .progeny-link:hover {
    background-color: #0056b3;
}

.disabled-link {
    background-color: #ccc;
    cursor: not-allowed;
}
