<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrainGenes | BrAPI Search Tool - Contact</title>
    <link rel="icon" href="{{ url_for('static', filename='images/GG3.png') }}" type="image/x-icon"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Include the navbar -->
    {% include 'navbar.html' %}

    <!-- Page content -->
    <div class="container my-4">
        <div class="card p-4 shadow-sm border-0">
            <h1 class="display-4 text-center mb-4">Contact Us</h1>
            <p>If you have any questions, comments, or suggestions about the BrAPI Search Tool at GrainGenes, please feel free to contact:</p>
            <ul class="list-unstyled">
                <li class="mb-2"><strong>Neha Jagtap</strong> (njagtap at ncsu dot edu)</li>
                <li><strong>The GrainGenes Team</strong> (feedback@graingenes.org)</li>
            </ul>
        </div>
    </div>
    
    <!-- Include the footer -->
    {% include 'footer.html' %}

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
