<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrainGenes | Brapi Search Tool - Details</title>
    <link rel="icon" href="static/images/GG3.png" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
</head>
<body>
    <!-- Include the navbar -->
    {% include 'navbar.html' %}

    <!-- Page content -->
    <div class="details-container">
        <h2>Sample Details</h2>
        <ul class="detail-list">
            {% for key, value in sample|dictsort %}
                {% if value and key != 'base_url' and key != 'pedigree' and key != 'progeny' %}
                    <li class="detail-item">
                        <strong>{{ key }}</strong>: {{ value }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        
        {% set has_pedigree = sample.get('pedigree', 'No') == 'Yes' %}
        {% set has_progeny = sample.get('progeny', 'No') == 'Yes' %}
        {% if sample.germplasmDbId %}
            <div class="links-section">
                <a href="{{ url_for('main.germplasm_pedigree', germplasm_id=sample.germplasmDbId, base_url=sample.base_url) }}"
                   class="pedigree-link {% if not has_pedigree %}disabled-link{% endif %}"
                   {% if not has_pedigree %}onclick="return false;"{% endif %}>Check Pedigree</a>

                <a href="{{ url_for('main.germplasm_progeny', germplasm_id=sample.germplasmDbId, base_url=sample.base_url) }}"
                   class="progeny-link {% if not has_progeny %}disabled-link{% endif %}"
                   {% if not has_progeny %}onclick="return false;"{% endif %}>Check Progeny</a>
            </div>
        {% endif %}
        <a href="/" class="back-link">Back to Search Results</a>
    </div>
    <script src="/static/js/details.js"></script>
    {% include 'footer.html' %}
</body>
</html>
