<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Other body content -->

    <footer class="footer bg-light text-dark py-2 fixed-bottom">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="footer-brapi d-flex align-items-center">
                <span class="text-muted mb-0 mr-2">Powered By&nbsp;</span>
                <a href="https://brapi.org" class="d-inline">
                    <img id="brapi-logo" src="{{ url_for('static', filename='images/brapi-logo.svg') }}" title="The Breeding API" class="mr-2" style="max-height: 15px;">
                </a>
            </div>
            <div class="footer-middle text-center">
                <a href="https://www.usda.gov" class="d-inline">
                    <img id="usda-logo" src="{{ url_for('static', filename='images/usda.svg') }}" title="USDA" style="max-height: 30px;">
                </a>
                <p class="text-muted mb-0" style="font-size: 0.75rem;">
                    Supported by
                    <a href="https://scinet.usda.gov/" class="text-muted">USDA-ARS AI-COE/SCINet</a> 
                </p>
            </div>
            <div class="footer-source d-flex align-items-center">
                <span class="text-muted mb-0 mr-2">Source Code Available&nbsp;</span>
                <a href="https://github.com/NehaSJ99/BrAPI_Search" class="d-inline">
                    <img id="github-logo" src="{{ url_for('static', filename='images/github-logo.png') }}" title="GitHub" style="max-height: 25px;">
                </a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
