<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrAPI Search Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header id="header" class="clearfix" role="banner">
    <div class="navbar">
        <div class="navbar-left">
            <a href="#"><h3>BrAPI Search Tool</h3></a>
        </div>
        <div class="navbar-right">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </div>
</header>
    <div class="container">
        <form id="search-form" onsubmit="performSearch(event)" style="display: flex; flex: 1;">
            <div class="filter-box">
                <!-- Databases Filter -->
                <div class="filter-container">
                    <h2 class="filters-heading">Database</h2>
                    <input type="text" class="keyword-search" id="datasetSearch" placeholder="Search database...">
                    <div class="selected-filters" id="selectedFilters"></div> <!-- Move selected filters here -->
                    <div class="checkbox-container datasets-container" id="datasetContainer">
                        <!-- Server checkboxes -->
                        {% for title, info in server_info|dictsort %}
                        <label class="checkbox-label">
                            <input type="checkbox" name="servers[]" value="{{ title }}" onclick="toggleFilter(event)">
                            {{ title }}
                            <span class="checkmark"></span>
                        </label>
                        {% endfor %}
                    </div>
                    <button type="button" class="clear-button" id="clearDatasets">Clear All</button>
                </div>
    
                <!-- Search for Filter -->
                <div class="filter-container">
                    <h2 class="filters-heading">Data Type</h2>
                    <input type="text" class="keyword-search" id="searchForSearch" placeholder="Search Datatype...">
                    <div class="checkbox-container searchfor-container" id="searchForContainer">
                        <label class="checkbox-label">
                            <input type="checkbox" name="search_for" value="germplasm" class="single-radio" onclick="toggleFilter(event)">
                            Germplasm
                            <span class="checkmark"></span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="search_for" value="traits" class="single-radio" onclick="toggleFilter(event)">
                            Traits
                            <span class="checkmark"></span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="search_for" value="trials" class="single-radio" onclick="toggleFilter(event)">
                            Trials
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
    
            <div class="search-container">
                <div class="search-box-wrapper">
                    <input type="text" id="searchBox" name="query" class="search-box" placeholder="germplasmName, germplasmDbId, traits, trials">
                    <button type="submit" class="search-button">Search</button>
                </div>
                <p id="errorQuery" class="error-message">Please enter a search query.</p>
                <p id="errorCheckbox" class="error-message">Please select at least one server.</p>
                <p id="errorRadio" class="error-message">Please select a search option.</p>
                <!-- Example buttons -->
                <div class="examples">
                    <span>Examples:</span>
                    <button type="button" class="example-button" onclick="setExample('1442133', ['T3/Wheat'], 'germplasm')">Germplasm</button>
                    <button type="button" class="example-button" onclick="setExample('70403', ['T3/Barley','T3/Wheat','T3/Oat'], 'traits')">Traits</button>
                    <button type="button" class="example-button" onclick="setExample('Cassava', ['T3/Barley'], 'trials')">Trials</button>
                </div>
                <!-- Display search results here -->
                <div class="results-container" id="results-container" style="display: none;">
                    <h1>Search Results</h1>
                    <p>You searched for: <strong id="search-term-display"></strong></p>
                    <div id="results-count"></div>
                    <div id="grouped-results"></div>
                    <a href="/" class="back-link">Back to Search</a>
                </div>        
            </div>
        </form>
        
    </div>
    
    <script src="/static/js/index.js"></script>
    <script>
        function setExample(example, databases, dataType) {
    const searchBox = document.getElementById('searchBox');
    searchBox.value = example;

    // Uncheck all checkboxes
    const checkboxes = document.querySelectorAll('.checkbox-label input[type="checkbox"]');
    checkboxes.forEach(checkbox => checkbox.checked = false);

    // Check the specific database checkboxes
    databases.forEach(database => {
        const databaseCheckbox = document.querySelector(`input[name="servers[]"][value="${database}"]`);
        if (databaseCheckbox) {
            databaseCheckbox.checked = true;
        }
    });

    // Check the specific data type checkbox
    const dataTypeCheckbox = document.querySelector(`input[name="search_for"][value="${dataType}"]`);
    if (dataTypeCheckbox) {
        dataTypeCheckbox.checked = true;
    }

    // Optionally, submit the form automatically
    // document.getElementById('search-form').submit();
}

    </script>
</body>
</html>
